<section class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Signup</h3>
        <form id="signup">
            <div class="card-text">
            <label for="signupUsername" class="signupStyle">Username</label>
            <input type="text" class="textStyle" placeholder="username" id="signupUsername">
            </div>
            <div class="card-text">
            <label for="signupPassword" class="signupStyle">Password</label>
            <input type="text"class="textStyle" placeholder="password" id="signupPassword">
            </div>
            <button id="signupButton">Signup!</button><br>
            <a href="/login" class="login-link">Login</a>
        </form>
    </div>
</section>


<script src="/js/signup.js"></script>